@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Fleur+De+Leah&family=Poetsen+One&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Share+Tech&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Sour Gummy';
    transition: all ease 0.3s;
}

h1{
    font-size: 10vw;
    margin-bottom: 0;
    margin-top: 0;
}

p{
    margin-top: 0;
    margin-bottom: 2vw;
    font-size: 5vw;
}

button{
    transition: all ease 0.3s;
    font-family: 'Sour Gummy';
    width: 30vw;
    margin: auto;
    margin-bottom: 1vh  ;
    padding: 1vw;
    font-size: 3vw;

    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 2vw;
    opacity: 50%;
}

button:hover{
    opacity: 100%;
    background-color: rgba(0, 0, 0, 0.836);
    color: white;
    box-shadow: 0 0 5vh rgb(255, 0, 0);
    border-radius: 2vw;
    transform: scale(1.03);
}

input{
    transition: all ease 0.3s;
    font-family: 'Sour Gummy';
    width: 30vw;
    height: 5.5vw;
    margin: auto;
    margin-bottom: 1vh  ;
    padding: 1vw;
    font-size: 3vw;

    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 2vw;
    opacity: 50%;
}

input:hover{
        opacity: 100%;
    background-color: rgba(0, 0, 0, 0.836);
    color: white;
    box-shadow: 0 0 5vh rgb(255, 0, 0);
    border-radius: 2vw;
    transform: scale(1.03);
}

.bCard{
    background-color: rgb(255, 255, 255);
    border-radius: 100rem;
    width: 20rem;
    height: 20rem;
    position: absolute;
    opacity: 50%;
    border: 2rem solid;
    transition: all ease 1s;
}

#keytracker{
    margin-top: 0;
    font-size: 3vw;
}

.actionUp {
    position: relative;
    width: 50%;
    height: 50%;
}

#sideText{
    font-size: 3vh;

}

form{
    display: flex;
    flex-direction: column;
    font-size: 3vw;
    transition: all ease 1s;
    transform: scale(0);
}